In [1]:
import sqlite3

### Task 1: (Connect to the supplied petsDB, and (OPTIONAL) write a function to check if the connection is done)

In [2]:
conn = sqlite3.connect('petsDB')

In [3]:
conn.close()

### Task 2: (What are the different age groups in the persons database)

In [4]:
conn = sqlite3.connect('petsDB')
c = conn.cursor()
for people, age in c.execute('SELECT count(*), age FROM persons GROUP BY age'):
    print('We have {} people aged {}'.format(people, age))

We have 2 people aged 5
We have 1 people aged 6
We have 1 people aged 7
We have 3 people aged 8
We have 1 people aged 9
We have 2 people aged 11
We have 3 people aged 12
We have 1 people aged 13
We have 4 people aged 14
We have 2 people aged 16
We have 2 people aged 17
We have 3 people aged 18
We have 1 people aged 19
We have 3 people aged 22
We have 2 people aged 23
We have 3 people aged 24
We have 2 people aged 25
We have 1 people aged 27
We have 1 people aged 30
We have 3 people aged 31
We have 1 people aged 32
We have 1 people aged 33
We have 2 people aged 34
We have 3 people aged 35
We have 3 people aged 36
We have 1 people aged 37
We have 2 people aged 39
We have 1 people aged 40
We have 1 people aged 42
We have 2 people aged 44
We have 2 people aged 48
We have 1 people aged 49
We have 1 people aged 50
We have 2 people aged 51
We have 2 people aged 52
We have 2 people aged 53
We have 2 people aged 54
We have 1 people aged 58
We have 1 people aged 59
We have 1 people aged 60
We have 1 people aged 61
We have 2 people aged 62
We have 1 people aged 63
We have 2 people aged 65
We have 2 people aged 66
We have 1 people aged 67
We have 3 people aged 68
We have 1 people aged 69
We have 1 people aged 70
We have 4 people aged 71
We have 1 people aged 72
We have 5 people aged 73
We have 3 people aged 74

### Task 3: Which age group has maximum number of people?

In [5]:
for people, age in c.execute('SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC LIMIT 1'):
    print('Highest number of people is {} at the age of {}'.format(people, age))

Highest number of people is 5 at the age of 73

### Task 4: How many people do not have a full name (Last name is blank/null)

In [6]:
missing = c.execute('SELECT count(*) FROM persons WHERE last_name IS null')
for row in missing:
    print('{} people have no last name listed'.format(row[0]))

60 people have no last name listed

### Task 5: How many people has more than one pet? (*)

In [7]:
multi = c.execute('SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) > 1)')
for row in multi:
    print(('{} people have more than one pet'.format(row[0])))

43 people have more than one pet

### Task 6: How many pets have received treaments?

In [8]:
treatment = c.execute('SELECT count(*) FROM pets WHERE treatment_done>0')
for row in treatment:
    print('{} pets have received treatments'.format(row[0]))

36 pets have received treatments

### Task 7: How many pets have received treatment that we know the type of?

In [9]:
treat_type = c.execute('SELECT count(*) FROM pets WHERE treatment_done>0 AND pet_type IS NOT null')
for row in treat_type:
    print('{} pets have received treatments'.format(row[0]))

16 pets have received treatments

### Task 8: How many pets are there from the city called "east port"

In [10]:
east_port = c.execute('SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city="east port"')
for row in east_port:
    print('{} pets are from the city East Port'.format(row[0]))

49 pets are from the city East Port

### Task 9: How many pets are there from the city called "east port" and who received a treatment?

In [11]:
east_treat = c.execute('SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city="east port" AND pets.treatment_done > 0')
for row in east_treat:
    print('{} pets are from the city East Port and had treatment'.format(row[0]))

11 pets are from the city East Port and had treatment